@import "variables.styl"
@import "mixins.styl"

// vue animations
.fade-enter-active, .fade-leave-active
  transition opacity .5s ease

.fade-enter-from, .fade-leave-to
  opacity 0

// keyframes
@keyframes flip-over
  0%
    transform rotateY(0deg)

  25%
    transform rotateY(360deg)

  50%
    transform rotateY(720deg)

  75%
    transform rotateY(0deg)