//color variables
primary-color = #1B1717
secondary-color = #DCCECE
secondary-hover-color = #554E4E

// font variables
font-family = Roboto, sans-serif
font-family-styled = Lora, sans

h1-font-size = 86px
h1-line-height = 90px
h1-font-weight = normal

h2-font-size = 18px
h2-line-height = 27px
h2-font-weight = normal

h4-font-size = 14px
h4-line-height = 21px
h4-font-weight = normal